/* Global Layout Set-up */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0, auto;
  font-family: Courier New, Courier, monospace;
  color: black;
  background-color: rgb(241, 233, 234);
}

.main-nav {
  width: 100%;
  height: 5vh;
  background: rgb(134, 128, 128);
  padding: 5px;
  position: fixed;
  text-align: center;
  box-shadow: 5px 5px 5px gray;
}

.nav {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
}

.nav li {
  top: 3px;
  padding: 1px 10px 20px 1px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: rgb(21, 18, 218)
}

a {
  color: rgb(194, 204, 211);
}

a li {
  text-decoration: none;
}

a:hover {
  color: rgb(21, 18, 218);
}

.grad {
  box-shadow: 10px 20px 14px rgba(0, 0, 99, .5);
  height: 55vh;
  width: 100vw;
  background-color: rgb(176, 181, 189);
  justify-content: space-around;
  display: inline-block;
}

.pic {
  display: inline-block;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, .5);
  height: 35vh;
  width: 25vw;
  justify-content: center;
  margin-top: 10vh;
}

.card {
  height: 35vh;
  text-align: center;
  border-bottom: 4px rgb(223, 18, 18);
  border-radius: 6px;
  transition: all .5s;
  display: inline-block;
  top: 7vw;
  text-decoration: none;
}

.skills {
  display: inline-block;
}

.skills li {
  top: 15vh;
  padding-bottom: 2em;
  list-style-type: none;
  text-decoration: none;
  border-radius: 90px;
  padding: 10px;
  margin: .5em;
  font-size: .8em;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, .5);
  background-image: linear-gradient(to top, #524747, #CDD5DB);
}

.skills:hover {
  color: rgb(21, 18, 218);
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
  height: 49vh;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg2 {
  background-image: url("images/image3.jpg");
}

.pimg3 {
  background-image: url("images/devices.jpg");
}

.pimg4 {
  background-image: url("images/image4.jpeg");
}

.pimg5 {
  background-image: url("images/image5.jpg");
}

.section {
  text-align: center;
  vertical-align: middle;
  padding: 50px 80px;
}

.section-white {
  background-color: lightgray;
  border: 2px solid gray;
  height: 49vh;
}

.section-light {
  vertical-align: middle;
  background-color: white;
  cursor: ns-resize;
  color: #666;
  height: 49vh;
}

a.section-light {
  color: black;
}

.section-med {
  background-color: gray;
  border: 2px solid black;  color: oldlace;

  height: 49vh;
}

.section-dark {
  background-color: #282e34;
  border: 2px solid white;
  color: WHITE;
  height: 49vh;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
  letter-spacing: .5em;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 1.5em;
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width:568px) {
  .card {
    height: 20vh;
    display: block;
  }
  .pic {
    /* display: none; */
    width: 25vw;
    height: 15vh;
  }
  .card {
    display: block;
    height: 20vh;
  }
  .skills li {
    list-style-type: none;
    border-radius: none;
    padding: 1px;
    /* margin: .5em; */
    border-width: none;
    font-size: .5em;
    box-shadow: none;
    background-image: none;
  }
  a {
    color: rgb(231, 93, 93);
  }
  .ptext{
    font-size: 1em;

  }
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg4,
  .pimg5 {
    background-attachment: scroll;
  }
  #ass5{
    display: none;
  }
}