/* Global Layout Set-up */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0, auto;
  font-family: Courier New, Courier, monospace;
  color: black;
  background-color: rgb(241, 233, 234);
}

.main-nav {
  width: 100vw;
  height: 5vh;
  background: rgb(134, 128, 128);
  padding: 5px;
  position: fixed;
  text-align: center;
  
}

.nav {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
}

.nav li {
  top: 3px;
  padding: 1px 30px 20px 1px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: rgb(21, 18, 218);
  font-size: 1.3em;
  text-shadow: none;
}

a {
  color: white;
  text-shadow: 3px 3px black;
}

a {
  transition: all .5s;
}

a:hover {
  color: rgb(21, 18, 218);
  font-size: 1.3em;
  text-shadow: none;
}

.grad {
  vertical-align: middle;
  height: 55vh;
  width: 100vw;
  background-color: rgb(176, 181, 189);
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
}

.pic {
  margin-left: 20vw;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, .5);
  height: 35vh;
  width: 25vw;
  border-radius: 10px;
}

#skills {
  justify-content: center;
}

#skills li {
  width: 20vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 10px;
  padding: .75vw;
  font-size: 1em;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, .5);
  background-image: linear-gradient(to top, #524747, #CDD5DB);
}

.skills:hover {
  color: rgb(21, 18, 218);
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
  height: 49vh;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("images/image3.jpg");
}

.pimg2 {
  background-image: url("images/devices.jpg");
}

.pimg3 {
  background-image: url("images/code.png");
}

.pimg4 {
  background-image: url("images/image5.jpg");
}

.section {
  text-align: center;
  vertical-align: middle;
  padding: 50px 80px;
}

.section-white {
  background-color: lightgray;
  border: 2px solid gray;
  height: 49vh;
}

.section-light {
  vertical-align: middle;
  background-color: white;
  cursor: ns-resize;
  color: #666;
  height: 49vh;
}

a.section-light {
  color: black;
}

.section-med {
  background-color: gray;
  border: 2px solid black;
  color: oldlace;
  height: 49vh;
}

.section-dark {
  background-color: #282e34;
  border: 2px solid white;
  color: WHITE;
  height: 49vh;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #000;
  font-size: 2em;
  letter-spacing: .5em;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 1.5em;
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width:768px) {
  .pic {
    width: 40vw;
  }
  .nomo {
    display: none;
  }
  #ass4 {
    display: none;
  }
  .pimg4 {
    display: none;
  }
}

@media(max-width:568px) {
  .card {
    height: 20vh;
    display: block;
  }
  .grad {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .pic {
    margin-left: 30vw;
    width: 50vw;
    height: 30vh;
  }
  #skills li {
    width: 90vw;
    /* justify-content: center;  */
    list-style-type: none;
    border-radius: none;
    padding: .5em;
    border-width: none;
    margin-right: 10vw;
    font-size: 1.3em;
  }
  .nomo {
    display: none;
  }
  h2 {
    font-size: .5em;
  }
  .ptext {
    font-size: 1.2em;
    text-shadow: none;
    text-align: center;
  }
  .section {
    font-size: .8em;
  }
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg5 {
    background-attachment: scroll;
  }
  #ass4 {
    display: none;
  }
  .pimg4 {
    display: none;
  }
}