* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1em;
}

.parent {
  background-color: blue;
  height: 50%;
  font-size: 1em;
}

.child {
  background-color: yellow;
  font-size: 1em;
}

/* Media Queries ----------------- */

@media (max-width: 960px) {
  .parent {
    background-color: green;
  }

  .child {
    background-color: orange;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 2em;
  }
}
