/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: yellow ;
  background: black;
}
/* Link Styles */

a {
  text-decoration: none;
  color:lightcyan;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100vw;
  background: black;
  position: fixed;
  
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: yellow;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: lightcyan
}

header {
  display: block;
  align-content: center;
  padding-top: 60px;
  line-height: 1.5;
  justify-content: center;
}
.profile {
  background-image: url("../images/anakin2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 20vh;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 3s;
}
 .profile:hover {
   align-content: center;
  background-image: url("../images/me.jpg");
  
}


.main{
  display: grid;
  grid-template-columns: 1fr;
}

.big{
  font-size: 3em;
  font-weight: 1000;
}
.small{
  font-size: .5em;
}
.tiny{
  font-size: .25em;
}
.card:hover {
  color:red;
}

ul.skills {
  padding: 0;
  text-align: center;
}
.skills{ transition: all .5s;} 
.skills:hover {color: red}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  .main {
    grid-template-columns: 1fr 1fr;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

#div2 {
    padding: 50px;
    position: absolute;
    border: 1px solid black;
    background-color: red;
    -webkit-transform: rotateX(45deg); /* Chrome, Safari, Opera  */
    transform: rotateX(45deg);
}
